# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
**/gradle-wrapper.jar
.gradle/
*.keystore
*.jks

# misc
*.log
.DS_Store
